
spring:
  datasource:
#    url: jdbc:mysql://localhost:3306/demo_00_orders?useSSL=false&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/demo_00_orders?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
